<a href="https://colab.research.google.com/github/anitha6752/Anudip/blob/main/5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
password=input()
if len(password) < 6:
    print("Weak Password")
elif 6 <= len(password) <= 8:
    print("Moderate Password")
else:
    print("Strong Password")

6
Weak Password

In [2]:
#for loop
a=[1,2,3,4,5,6,7]
for i in a:
    print(i)

1
2
3
4
5
6
7

In [3]:
fruits=['apple','banana','cherry']
for fruits in fruits:
    print(fruits)

apple
banana
cherry

In [4]:
fruits=['apple','banana','cherry']
for fruits in fruits:
    print(fruits)

apple
banana
cherry

In [5]:
for i in range(1,10,3):
    print(i)

1
4
7

In [7]:
word="hello"
for i in word:
    print(i)

h
e
l
l
o

In [8]:
#looping with else
for i in a:
    print(i)
else:print("loop is finished")

1
2
3
4
5
6
7
loop is finished

In [9]:
for i in range(3):
    for j in range(2):
        print(f"i={i},j={j}")

i=0,j=0
i=0,j=1
i=1,j=0
i=1,j=1
i=2,j=0
i=2,j=1

In [10]:
for i in range(3):
    for j in range(2):
        print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1

In [11]:
name='krishna'
print(f'my name is {name}')

my name is krishna

In [12]:
for i in range(4):
    print("outer")
    for j in range(2):
        print("inner loop")

outer
inner loop
inner loop
outer
inner loop
inner loop
outer
inner loop
inner loop
outer
inner loop
inner loop

In [13]:
for i in range(3):
    print(i)
    print("This is will be 1st")
    print("second")
    print("third")

0
This is will be 1st
second
third
1
This is will be 1st
second
third
2
This is will be 1st
second
third

In [14]:
for i in range(1,10,3):
    print(i)

1
4
7

In [15]:
s="hello"
r=len(s)
for i in range(r):
    print(i,"=", s[i])

0 = h
1 = e
2 = l
3 = l
4 = o

In [16]:
s="hello"
r=len(s)
for i in range(r):
    print(i,"=", s[i])
print("rest of the code")

0 = h
1 = e
2 = l
3 = l
4 = o
rest of the code

In [17]:
#BREAK

for num in range(10):
    if num == 5:
      break
    print(num)

0
1
2
3
4

In [18]:
#CONTINUE
for num in range(10):
    if num == 5:
      continue
    print(num)

0
1
2
3
4
6
7
8
9

In [19]:
for num in range(5):
    if num == 2:
      continue
    print(num)

0
1
3
4

In [20]:
#PASS- its is written in situation where it is required but no need to be printed
for number in range(5):
    if number==3:
        pass
    else:
        print(number)

0
1
2
4

In [21]:
list=[1,2,3,4,5,6]
print(list)
target=int(input())
for num in list:
    if num==target:
        print(f"Number{target}found in list.")
        break
else:
        print(f"Number{target}not found in list.")

[1, 2, 3, 4, 5, 6]
5
Number5found in list.