<a href="https://colab.research.google.com/github/anitha6752/Anudip/blob/main/day11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#dictionary
dict={"row_id":1,"order_id":"abcde","order_date":"14-5-2025"}
dict

{'row_id': 1, 'order_id': 'abcde', 'order_date': '14-5-2025'}

In [2]:

#dictionary
dict={"row_id":1,"order_id":"abcde","order_date":"14-5-2025"}
dict

{'row_id': 1, 'order_id': 'abcde', 'order_date': '14-5-2025'}

In [3]:
d={"name":"raj","age":50,"gender":"male"}
type(d)

dict

In [4]:
a={1,2,3,4}
type(a)

set

In [ ]:
#characteristics of dictionaries
#unordered
my_dict={"name":"vini","age":21,"city":"banglore"}
my_dict

In [7]:
#characteristics of dictionaries
#unordered
my_dict={"name":"vini","age":21,"city":"banglore"}
my_dict

{'name': 'vini', 'age': 21, 'city': 'banglore'}

In [8]:
#unique keys
my_dict={"name":"vini","age":21,"age":25,"age":66}
my_dict

{'name': 'vini', 'age': 66}

In [9]:
#immutable
my_dic={(1,2):"point","name":"alice"}
my_dic

{(1, 2): 'point', 'name': 'alice'}

In [10]:
#accessing a value by key
my_dict={
    "name":'john',
    "age":34,
    "hobbies":"reading",
    "education":"degree"
}
my_dict["age"]

34

In [11]:
my_dict["education"]

'degree'

In [15]:
#using the get() method
my_dic={"name":'Anu','age':20}
my_dic

{'name': 'Anu', 'age': 20}

In [13]:
my_dic.get("age")

20

In [16]:
my_dic.get("name")

'Anu'

In [17]:
#accessing all keys
my_dic.keys()

dict_keys(['name', 'age'])

In [18]:
my_dict={"name":"krishna","age":21,"city":"banglore"}
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [19]:
#accessing all values
my_dict={"name":"krishna","age":21,"city":"banglore"}
my_dict.values()

dict_values(['krishna', 21, 'banglore'])

In [20]:
nested_dict={
    "person1":{
    "name":'alice',
     "age":34,
    "city":'new york'
},
    "person2":{
        "name":'john',
        "age":24,
        "city":'london'}
}
nested_dict

{'person1': {'name': 'alice', 'age': 34, 'city': 'new york'},
 'person2': {'name': 'john', 'age': 24, 'city': 'london'}}

In [22]:
print(nested_dict['person1']['name'])

alice

In [23]:
nested_dict["person3"]={
    "name":'ali',
     "age":38,
    "city":'new delhi'
}
nested_dict

{'person1': {'name': 'alice', 'age': 34, 'city': 'new york'},
 'person2': {'name': 'john', 'age': 24, 'city': 'london'},
 'person3': {'name': 'ali', 'age': 38, 'city': 'new delhi'}}

In [24]:
#modifying elements in a nested dictionary
nested_dict['person1']['age']=45
nested_dict

{'person1': {'name': 'alice', 'age': 45, 'city': 'new york'},
 'person2': {'name': 'john', 'age': 24, 'city': 'london'},
 'person3': {'name': 'ali', 'age': 38, 'city': 'new delhi'}}

In [25]:
#using del
mydic={
    'name':'grey',
    'age':34,
    'city':'london',
    'profession':'software'
}
del mydic['age']
mydic

{'name': 'grey', 'city': 'london', 'profession': 'software'}

In [26]:
#pop
mydic

{'name': 'grey', 'city': 'london', 'profession': 'software'}

In [27]:
a=mydic.pop('name')
a

'grey'