<a href="https://colab.research.google.com/github/anitha6752/Anudip/blob/main/day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
i=[1,2,3,4,5,6,7,8,9,10]
for n in i:
    if n==5:
        continue
    print(n)

1
2
3
4
6
7
8
9
10

In [2]:
for i in range(10,51):
    if i%2==0:
        print("not a prime number",i)
    else:
        print("print number",i)

not a prime number 10
print number 11
not a prime number 12
print number 13
not a prime number 14
print number 15
not a prime number 16
print number 17
not a prime number 18
print number 19
not a prime number 20
print number 21
not a prime number 22
print number 23
not a prime number 24
print number 25
not a prime number 26
print number 27
not a prime number 28
print number 29
not a prime number 30
print number 31
not a prime number 32
print number 33
not a prime number 34
print number 35
not a prime number 36
print number 37
not a prime number 38
print number 39
not a prime number 40
print number 41
not a prime number 42
print number 43
not a prime number 44
print number 45
not a prime number 46
print number 47
not a prime number 48
print number 49
not a prime number 50

In [3]:
list = [12,14,15,16,17,18,19,20]
for i in list:
 if i%2==0 & i<10:
     print(f'{i} is even and greater than 10')
list = [12,14,15,16,17,18,19,20]
for i in list:
 if i%2==0 & i<10:
     print(f'{i} is even and greater than 10')

12 is even and greater than 10
14 is even and greater than 10
16 is even and greater than 10
18 is even and greater than 10
20 is even and greater than 10
12 is even and greater than 10
14 is even and greater than 10
16 is even and greater than 10
18 is even and greater than 10
20 is even and greater than 10